<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
</head>

<body class="body">
    <div class="rectangle-parent">
        
        <button class="buttun" id="button1"> Ask BookGPT</button>
        <button class="buttun" id="button2"> Generate a E-book for Kids!</button>

    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    document.getElementById("button1").onclick = function() {
        location.href = "http://localhost:3000/gpt";
    };
</script>


</html>