
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body class="body">
    <div class="rectangle-parent">

      <div class="frame-child"></div>
      <div class="frame-item">
        <p class="storyheader">  <b> Generate a storybook</b></ps>
        <p class="auth-text"></p>
        <form id="pdf-form" class="pdf">
          <input type="text" id="pdf-query" placeholder="Enter your query" />
          <button type="submit" id="s-submit">Submit</button>
        </form>
      </div>
      <div class="frame-inner">

        <div class="wrapper">
          <p class="storyheader">  <b> Ask bookGPT</b> </ps>
        <form id="query-form">
          <input type="text" id="query" placeholder="Enter your query" />
          <button type="submit">Submit</button>
        </form>

        

        <div id="json-data"></div>

        <div>
          <textarea id="phraseDiv">

          </textarea>
          <button id="startBtn">Tap to Speak</button>
        </div>
        
          <!-- <input type="file" id="image_input" accept="image/*" /> -->

          <form enctype="multipart/form-data" id="img-form" action="/upload" method = "POST">
            <input type="file" name="image">
            <input type="submit" value="Submit" id="upload">
        </form>
      

        <div id="response" class="response-text">
          <p id="question"></p>
          <p id="answer"></p>
        </div>

        </div>

      </div>
    </div>

    

  
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type = "text/javascript" src="C:\Users\jarin\OneDrive\Documents\bookgpt\speak.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script>
    document.getElementById('img-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent form submission
      //const query = document.getElementById("pdf-query").value;
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function(){
        if (xhr.readyState === 4 && xhr.status === 200){
          console.log(xhr.responseText);
          const response = JSON.parse(xhr.responseText);
          const question = response.Q;
          const answer = response.A;
          console.log(question);
          console.log(answer);
          $('#question').text(question);
          $('#answer').text(answer);

        
        }
        }
        xhr.open('POST', '/upload');
        

        });

    
      </script>



<script>
  document.getElementById("pdf-form").addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent form submission
    const query = document.getElementById("pdf-query").value;
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
      if (xhr.readyState === 4 && xhr.status === 200){
        console.log(xhr.responseText);
        const response = JSON.parse(xhr.responseText);
        const question = response.Q;
        const answer = response.A;
        console.log(question);
        console.log(answer);
        $('#question').text(question);
        $('#answer').text(answer);
        

      }
    }
    xhr.open('POST', '/pdf-query');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({ query }));
  });
  </script>
        

 

  
      <script>
        document.getElementById('query-form').addEventListener('submit', function (event) {
          event.preventDefault(); // Prevent form submission
          const query = document.getElementById('query').value;
          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(){
            if (xhr.readyState === 4 && xhr.status === 200){
              console.log(xhr.responseText);
              const response = JSON.parse(xhr.responseText);
              const question = response.Q;
              const answer = response.A;
              console.log(question);
              console.log(answer);
              $('#question').text(question);
              $('#answer').text(answer);
              
              var speechUtterance = new SpeechSynthesisUtterance();


              speechUtterance.text = response.A;

            speechSynthesis.speak(speechUtterance);
            }
          }
          xhr.open('POST', '/submit-query');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({ query }));
          console.log(JSON.stringify({ query }));
        });

    
      </script>


<script>
  startBtn.addEventListener('click', function () {
  var speech = true;
  window.SpeechRecognition = window.webkitSpeechRecognition;
  const recognition = new SpeechRecognition();
  recognition.interimResults = true;
  let transcript = '';

  recognition.addEventListener('result', e => {
    transcript = Array.from(e.results)
      .map(result => result[0])
      .map(result => result.transcript)
      .join('');

    console.log(transcript);
    phraseDiv.innerHTML = transcript;
  });

  recognition.addEventListener('end', () => {
    if (speech) {
      setTimeout(() => {
        console.log("this is the main transcript: ");
        console.log(transcript);
        const query = transcript;
          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(){
            if (xhr.readyState === 4 && xhr.status === 200){
              console.log(xhr.responseText);
              const response = JSON.parse(xhr.responseText);
              const question = response.Q;
              const answer = response.A;
              console.log(question);
              console.log(answer);
              $('#question').text(question);
              $('#answer').text(answer);
              var speechUtterance = new SpeechSynthesisUtterance();


              speechUtterance.text = response.A;


            speechSynthesis.speak(speechUtterance);
            }
          }
          xhr.open('POST', '/submit-query');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({ query }));
          console.log(JSON.stringify({ query }));
      }, 1000);
    }
  });

  if (speech) {
    recognition.start();
  }
});
</script>


</html>

