

.body{
    margin: 0;
    line-height: normal;
    background-color:#0a537d;
    width:100%;
    height: 100%;
  }
  
  :root {
    /* border radiuses */
    --br-11xl: 30px;
  }
  


.frame-child {
    position: absolute;
    top: 10%;
    left: 15%;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(150, 191, 218);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border: 1px #000;
    box-sizing: border-box;
    width: 1025px;
    height: 764px;
  }

  .frame-inner,
  .frame-item {
    position: absolute;
    top: 25%;
    border-radius: var(--br-11xl);
    color:#000;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .frame-item {
    left: 30%;
    background:  #196ea0;
    width: 278px;
    height: 250px;
  }
  .frame-inner {
    left: 50%;
    background: #196ea0;
    width: 377px;
    height: 498px;
  }
  .rectangle-parent {
    position: relative;
    width: 100%;
    height: 664px;
    color:rgb(19, 57, 91);
  }
  

  .auth-text {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
  }

  .wrapper{
    margin: 50px;
    
  }
 .query-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

.image-form{
  position: absolute;
  padding: 40px;
  margin: 20px;
}

  .response-text{
    margin: 60px;
    border:2px solid (0, 0, 0, 0.25);
  }

.buttun {
  margin-left: 35%;
  margin-top: 20%;
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #e1e7eb;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  transition: 0.3s;

  
}

.pdf{
  margin:40px;
}

.storyheader{
  margin:30px;
}